<h3>以下の内容で投稿してよろしいでしょうか。</h3>
<%= form_with(model: @post, url: posts_path, local: true,class:"blog_wrapper") do |form| %>
 <%= form.hidden_field :content %>
  <p>本文:<%= @post.content %></p>
  <div class="botan">
  <div class="btn-default">
  <%= form.submit '投稿画面に戻る', name: 'back' %>
  </div>
   <div class="btn-default">
   <%= form.submit '投稿する' %>
  </div>  
 </div>
<% end %>
