<h3>詳細<br><%= link_to "ホーム", posts_path,class:"btn-default" %></h3>



<%= form_with(model: @post, url: posts_path, local: true,class:"blog_wrapper") do |form| %>
  
  <%= form.hidden_field :content %>
 
  <p>本文:<%= @post.content %></p>
   <%= @post.created_at.to_s(:datetime_jp) %>
  <br><br>
    <div class="botan">
         <div>
          <%= link_to "編集",edit_post_path,class: 'btn-default' %>
          </div>
          <div>
          <%= link_to '削除',@post,class:"btn-default", method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
          </div>
      
   </div>
   <br>
   
  
<% end %>



  
    